* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: Poppins, sans-serif;
}

/* HERO */
.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 1s ease;
}

/* PARTICLES */
#particles-js {
  position: absolute;
  inset: 0;
  z-index: 1;
}

/* PRODUCT */
.content {
  z-index: 2;
}

.content img {
  width: 420px;
  transition: transform 0.8s ease;
}

/* CONTROLS */
.controls {
  position: absolute;
  bottom: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 3;
}

.controls button {
  background: rgba(255,255,255,0.2);
  border: none;
  color: #fff;
  font-size: 40px;
  padding: 10px 20px;
  cursor: pointer;
}
